* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, Arial;
	padding-top: 70px;
}

h1, h2 {
	text-transform: uppercase;
}

.navbar-brand h1 {
	display: inline-block;
	margin: 0;
	font-weight: 700;
	font-size: 2rem;
	padding: 15px;
    height: 100%;
}

.navbar-brand {
    padding: 0;
}

#jumbotron__image {
	width: 15rem;
}

.portfolio__image {
	margin-bottom: 30px;
}