* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, Arial;
	padding-top: 50px;
	color: #2F4051;
	text-align: center;
}

h1, h2 {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
}

.green-bg {
	background-color: #00BB9B;
	color: white;
}

/*divisore con la stella e le linee prima e dopo*/
.star-divisor {
	margin: 1.5rem 0;
}

.star-divisor__line {
	margin: 0 0.9rem;
	display: inline-block;
	height: 0.33rem;
	width: 11rem;
	background-color: #2F4051;
}

.star-divisor__line--white {
	background-color: #FFF;
}

.star-divisor__star {
	height: 3.8rem;
}

/*
# # TABELLA COLORI # #
blu: 				#2F4051
verde acqua: 		#00BB9B
blu scuro footer: 	#1F2932
*/





/*----------------*/
/* # # NAVBAR # # */
/*----------------*/
.navbar-brand h1 {
	margin: 0;
	font-size: 2rem;
	padding: 15px;
}

.navbar-brand {
    padding: 0;
}





/*-------------------*/
/* # # JUMBOTRON # # */
/*-------------------*/
.jumbotron-fluid {
	border-radius: 0;
}

#jumbotron__image {
	width: 15rem;
	text-align: center;
}





/*-------------------*/
/* # # PORTFOLIO # # */
/*-------------------*/
.portfolio__image {
	margin-bottom: 30px;
}

    /*background-color: rgba(26,188,156,.9);*/





/*---------------*/
/* # # ABOUT # # */
/*---------------*/
.about__text {
	text-align: left;
}

.about__download-button {
	color: #FFF;
	border: 2px solid #FFF;
	background-color: #00BB9B;
}

.about__download-button:hover {
	color: #000;
	border: 2px solid #FFF;
	background-color: #FFF;
}

/*colora di nero l'icona dei download quando selezioni o passi sopra il bottone*/
.about__download-button:hover .about__download-icon,
.about__download-button:focus .about__download-icon {
	filter: brightness(0%);
}





/*------------------*/
/* # # CONTATTI # # */
/*------------------*/
.contatti__send-button {
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 5px;
	background-color: #00BB9B;
	padding: 1rem 1.75rem;
	float: left;
}

.contatti__send-button:hover {
	color: #FFF;
	border: 2px solid #95E2D4;
	background-color: #00997F;
}

.form-control {
	border: 0;
    box-shadow: none;
}



/*----------------*/
/* # # FOOTER # # */
/*----------------*/
footer {
	background-color: #2F4051;
	color: #FFF;
}

.footer__icon-div {

}

.footer__icon-wrapper {
	display: inline-block;
	height:  50px;
	width:   50px;
	border:  2px solid #FFF;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
}

.footer__icon {
	height:   25px;
	position: absolute;
	top:      50%;
	left:     50%;
	transform: translate(-50%, -50%);
}

.footer__link {
	color: #00BB9B;
	text-decoration: none;
}

.footer__link:hover {
	color: #00997F;
	text-decoration: underline;
}

.footer__darkblue {
	background-color: #1F2932;
}